<div class="categorias">
  <ul>
    <li><img src="assets/icons/hamburger.png" alt="hamburger">
      Lanches</li>
    <li><img src="assets/icons/pizza.png" alt="Pizzas">
      Pizzas</li>
  </ul>
</div>
<div class="produtos">
  <app-produtos></app-produtos>
  <div class="carrinho">
    <span>Seu carrinho</span>
    <ul>
      <li>
        <button class="btn-lixo">lixo</button>
        <div class="detalhes">
          <span>Hambuirguer de siri</span>
          <p>R$ 42,00</p>
        </div>
        <button class="btn-menos">-</button>
        <p>1</p>
        <button class="btn-mais">+</button>
      </li>
      <li>
        <button>lixo</button>
        <div class="detalhes">
          <span>Hambuirguer de siri</span>
          <p>R$ 42,00</p>
        </div>
        <button>-</button>
        <p>1</p>
        <button>+</button>
      </li>
      <li>
        <button>lixo</button>
        <div class="detalhes">
          <span>Hambuirguer de siri</span>
          <p>R$ 42,00</p>
        </div>
        <button>-</button>
        <p>1</p>
        <button>+</button>
      </li>
    </ul>
    <div class="detalhes-total">
      <span>Total: R$ 4020,00</span>
      <button>Finalziar Pedido</button>
    </div>
  </div>
</div>
