<div class="categorias">
  <ul>
    <li class="item-escolhido"><img src="assets/icons/x-burger.svg" alt="hamburger">
      Lanches</li>
    <li><img src="assets/icons/pizza-fatia.svg" alt="Pizzas">
      Pizzas</li>
  </ul>
</div>
<div class="produtos">
  <app-produtos [produtos]="pd"></app-produtos>
  <div class="carrinho">
    <span>Seu carrinho</span>
    <div class="list-produtos">
      @for (item of items; track $index) {
        <app-list-produtos></app-list-produtos>
      }
    </div>
    <div class="detalhes-total">
      <span>Total: R$ 4020,00</span>
      <button routerLink="/forma-pagamento">Finalizar Pedido</button>
    </div>
  </div>
</div>
