<div class="produto-detalhes">
  <img src="assets/icons/burguer.png" alt="">
  <div class="infos">
    <span>Combo Hamburguer de Siri</span>
    <p>R$ 45,00</p>
  </div>
  <div class="qtd">
    <p>R$ 155,25</p>
    <div class="qtd-pd">
      <button>-</button>
      <p>1</p>
      <button>+</button>
    </div>
  </div>
</div>
<div class="personalizacao-produto">
  <span>Escolha o tamanho</span>
  <ul>
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
  </ul>

</div>
<span>CANCELAR</span>
