<div class="produto-detalhes">
  <img src="assets/icons/burguer.png" alt="Hambúrguer de Siri">

  <div class="infos">
    <span class="titulo">Combo Hambúrguer de Siri</span>
    <p class="preco-unitario">R$ {{valor}}</p>
  </div>

  <div class="qtd">
    <p class="preco-total">R$ {{total}}</p>
    <button class="personalizar">PERSONALIZAR</button>

    <div class="qtd-pd">
      <button class="btn-menos" (click)="onClickMenos()">-</button>
      <p class="quantidade">{{quantidade}}</p>
      <button class="btn-mais" (click)="onClickMais()">+</button>
    </div>
  </div>
</div>
<app-personalizar-produto
  (onClick)="onItemSelecionado($event)"
  [title]="title"
  [personalizacao]="personalizao"
></app-personalizar-produto>

<span class="btn_cancelar" [routerLink]="['/itens']">CANCELAR</span>
