<div class="produto-detalhes">
  <img src="assets/icons/burguer.png" alt="Hambúrguer de Siri">

  <div class="infos">
    <span class="titulo">Combo Hambúrguer de Siri</span>
    <p class="preco-unitario">R$ 45,00</p>
  </div>

  <div class="qtd">
    <p class="preco-total">R$ 155,25</p>
    <button class="personalizar">PERSONALIZAR</button>

    <div class="qtd-pd">
      <button class="btn-menos">-</button>
      <p class="quantidade">20</p>
      <button class="btn-mais">+</button>
    </div>
  </div>
</div>

<div class="personalizacao-produto">
  <span>Escolha o tamanho</span>
  <span class="list">
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
    <div class="prod">
      <img src="assets/icons/burguer.png" alt="">
      <span>Combo Hamburguer de Siri</span>
      <p>R$ 16,00</p>
    </div>
  </span>

</div>
<span>CANCELAR</span>
