:host {
  background-color: #fff8ec;
  width: 100%;
  height: 100%;
}


.text-total {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 3% 4%;
  background-color: #ff830a;
  display: flex;
  justify-content: space-between;

  p {
    cursor: pointer;
  }

}

.pagamentos {
  padding: 3%;
  display: flex;
  flex-direction: column;

  span {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 6%;
  }

  .formas-pagamentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;

    .itens-pagamento {
      background-color: white;
      border-radius: 10px;
      padding: 2%;
      box-shadow: 1px 1px 3px #0000008c;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 15vh;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;

      &:active {
        box-shadow: inset 1px 1px 3px #0000008c;
      }

      img {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: .9rem;
        font-weight: 600;
      }
    }
  }
}

.pix {
  font-size: 1.3rem;
  font-weight: 700;

  div {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 20%;

    p {
      font-size: 1.3rem;
      text-align: center;
      font-weight: 500;
    }

    img {
      width: 55%;
    }
  }
}

.confirmacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5%;

  span {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .check {
    width: 30%;
  }

  p {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .loading {
    width: 15%;
    mix-blend-mode: multiply;
  }
}
